<!DOCTYPE HTML>
<html>
<head>
    <title>BindingResult 공부하기</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div>
    <h2>회원 등록</h2>

    <form method="post" action="binding-result/user">
        <div>
            <label for="name">이름: </label>
            <input type="text" id="name" name="name">
        </div><br/>
        <div>
            <label for="age">나이: </label>
            <input type="text" id="age" name="age">
        </div><br/>
        <div>
            <button type="submit">등록</button>
        </div>
    </form>
</div>

</body>
</html>